.page-intro-about {
  justify-content: center;
  padding: 30px 0px;
}

.page-intro-about, .facts-1, .facts-2 {
  display: flex;
}

.page-intro-about, .facts-1, .facts-2 {
  align-items: center;
}

.page-intro-about, .background-info, .facts-1, .facts-2  {
  width: 80%;
  margin: auto;
}

.page-intro-about-text, .page-intro-about-image {
  flex: 1;
}

.page-intro-about-text {
  line-height: 25px;
}

.about-image, .facts-image {
  width: 100%;
  height: auto;
}

.padding-bottom-p {
  padding-bottom: 10px;
}

.background-info, .facts-1, .facts-2 {
  line-height: 25px;
}

.facts-1 {
  padding-top: 30px;
}

.facts-2 {
  padding-bottom: 50px;
}

.facts-1, .facts-2 {
  gap: 20px;
}


/*mobile and small tablets*/
@media screen and (min-width: 300px) and (max-width: 600px) {
  .facts-1 {
    flex-direction: column-reverse;
  }

  .page-intro-about,.facts-1, .facts-2 {
    width: 90%;
  } 

  .page-intro-about {
    gap: 10px;
  }

  .facts-2, .page-intro-about {
    flex-direction: column;
  }

  .facts-image {
    width: 60%;
  }
}

/*smaller and lagrer tablets*/
@media screen and (min-width: 601px) and (max-width: 900px) {
  .facts-frontend-text, .facts-me-text {
    width: 55%;
  }

  .page-intro-about {
    width: 90%;
  }
}

/*laptop and desktop*/
@media screen and (min-width: 901px) and (max-width: 20000px) {
  .facts-frontend-text, .facts-me-text {
    width: 60%;
  }

}