html,
body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0%;
}

body,
header,
footer {
  display: flex;
}

body {
  flex-direction: column;
}

footer {
  flex: 1;
}

header,
footer {
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

header {
  border-bottom: 1px;
  border-color: black;
  border-style: solid;
}

.logo-header,
.logo-footer {
  width: 80%;
  height: auto;
}

nav li {
  display: inline-block;
}

nav ul {
  padding-inline-start: 0px;
}

nav a,
a.button,
footer a,
nav a:active,
footer a:active,
nav a:visited,
footer a:visited,
a.button,
a.button:active,
a.button:visited {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.p-bold,
nav a:hover,
.footer-link:hover,
.active-page {
  font-weight: bold;
}

.button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 15px;
  display: inline-block;
}

.button:hover {
  transform: scale(1.03);
  transition: transform 300ms ease-out;
}

.background-wrapper {
  padding: 60px 0px;
}

/*mobile and small tablets*/
@media screen and (min-width: 300px) and (max-width: 600px) {
  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  nav a,
  footer a,
  .p-intro {
    font-size: 14px;
  }

  p,
  a.button {
    font-size: 13px;
  }

  .logo {
    margin-left: 10px;
    flex: 1;
  }

  .nav {
    margin-right: 10px;
  }

  nav li {
    padding-inline: 10px;
  }

  .footer-link {
    margin-right: 10px;
  }
}

/*smaller and lagrer tablets*/
@media screen and (min-width: 601px) and (max-width: 900px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 20px;
  }

  nav a,
  footer a,
  .p-intro {
    font-size: 16px;
  }

  p,
  a.button {
    font-size: 14px;
  }

  .logo {
    margin-left: 30px;
    flex: 1;
  }

  .nav {
    margin-right: 50px;
  }

  nav li {
    padding-inline: 10px;
  }

  .footer-link {
    margin-right: 30px;
  }
}

/*laptop and desktop*/
@media screen and (min-width: 901px) and (max-width: 20000px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 25px;
  }

  nav a,
  footer a,
  .p-intro {
    font-size: 18px;
  }

  p,
  a.button {
    font-size: 16px;
  }

  .logo {
    margin-left: 80px;
  }

  .nav {
    margin-right: 150px;
  }

  nav li {
    padding-inline: 20px;
  }

  .footer-link {
    margin-right: 50px;
  }
}
