header, footer {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo, .footer-logo {
  margin-left: 90px;
}

.logo {
  width: 50%;
}

.logo-footer {
  width: 60%;
}

nav li {
  display: inline-block;
}

nav a, footer a, a.button, nav a:active {
  text-decoration: none;
}

nav a:hover, footer a:hover, .active-page, .p-bold {
  font-weight: bold;
}

nav a:visited, nav a:link footer a:visited, footer a:link, nav a:active{
  color: black;
}

header, footer {
  padding: 10px;
}

header{
  border-bottom: 1px;
  border-style: solid;
  border-color: black;
  gap: 10%;
}

.logo-header {
  width: 45%;
  height: auto;
}

.background-wrapper {
  padding: 40px 0px 100px 0px;
}

.button {
  padding: 10px 20px;
  border-radius: 15px;
  background-color: black;
  color: white;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  transform: scale(1.03);
  transition: transform 300ms ease-out;
}

footer {
  justify-content: space-between;
}

.footer-link{
  margin-right: 80px;
}

/*mobile and small tablets*/
@media screen and (min-width: 300px) and (max-width: 600px) {
  header{
    gap: 0px;
  }

  .logo, .footer-logo {
    margin-left: 10px;
  }

  nav li {
    padding-inline: 5px;
  }

  nav ul {
    padding-inline-start: 0px;
  }

  footer {
    gap: 0px;
  }

  .footer-link{
    margin-right: 30px;
  }

}

/*smaller and lagrer tablets*/
@media screen and (min-width: 601px) and (max-width: 900px) {
  header{
    gap: 10px;
  }

  .logo, .footer-logo {
    margin-left: 20px;
  }

  nav li {
    padding-inline: 5px;
  }

  nav ul {
    padding-inline-start: 0px;
  }

  footer {
    gap: 8%;
  }
}

/*laptop and desktop*/
@media screen and (min-width: 901px) and (max-width: 20000px) {
  header{
    gap: 0px;
  }

  .logo, .footer-logo {
    margin-left: 100px;
  }

  nav li {
    padding-inline: 15px;
  }

  nav ul {
    padding-inline-start: 0px;
  }

  footer {
    gap: 20%;
  }
}