@import url(variables.css);
@import url(reset.css);
@import url(index.css);
@import url(about.css);

h1 {
  font-family: var(--font-primary);
  color: var(--color-h1);
  font-weight: normal;
}

h2,
nav a,
.footer-link {
  font-family: var(--font-secondary);
}

h2 {
  font-weight: lighter;
}

h3,
p,
a,
.button {
  font-family: var(--font-body);
}

h2,
.p-white {
  color: var(--color-white);
}

.h2-black,
nav a,
.footer-link,
a,
h3 {
  color: var(--color-black);
}

.background-wrapper {
  background-color: var(--color-background);
}
