@import url(variables.css);
@import url(reset.css);
@import url(index.css);
@import url(about.css);

body {
  margin: 0%;
  overflow-x: hidden;
  max-width: 100%;
}

h1 {
  font-family: var(--font-primary);
  color: var(--color-h1);
  font-size: 40px;
  font-weight: normal;
}

h2 {
  font-weight: lighter;
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

nav a {
  font-size: 18px;
}

footer a, .button, .p-intro {
  font-size: 16px;
}

p, .project-links {
  font-size: 15px;
}

h2, .button a, .button, .p-white {
  color: var(--color-white)
}

h3, nav li, footer a, p, .project-links, .h2-black {
  color: var(--color-black);
}

h2, nav li, footer a {
  font-family: var(--font-secondary);
}

.button {
  background-color: var(--color-black);
}

.background-wrapper {
  background-color: var(--color-background);
}

h3, p, .button a, .button, .project-links {
  font-family: var(--font-body);
}

header, footer {
  background-color: var(--color-white);
}

/*mobile and small tablets*/
@media screen and (min-width: 300px) and (max-width: 600px) {
  h1{
    font-size: 25px;
  }

  h2{
    font-size: 20px;
  }

  h3{
    font-size: 18px;
  }

  nav a {
    font-size: 16px;
  }

  footer a, .button a, .p-intro {
    font-size: 14px;
  }
  
  p, .project-links {
    font-size: 13px;
  }

}

/*smaller and lagrer tablets*/
@media screen and (min-width: 601px) and (max-width: 900px) {
  h1{
    font-size: 30px;
  }

  h2{
    font-size: 25px;
  }

  h3{
    font-size: 20px;
  }

  nav a {
    font-size: 17px;
  }

  footer a, .button a, .p-intro {
    font-size: 15px;
  }
  
  p, .project-links {
    font-size: 14px;
  }
}
